.wrapper {
    margin-bottom: 40px;
}

.container {
    display: flex;
    padding: 0 15px;
    width: 100%;
    justify-content: center;
}

.container-item {
    flex: 1;
}

.content {
    h2 {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
