:root {
    --font-content: ' Open Sans ', sans-serif;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
body {
    margin: 0;
    padding: 0;
    color: #8c8c8c;
    background: #f1f2f7;
}

.title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #32323a;
    margin-bottom: 30px;
}

p,
a,
span,
b,
i {
    font-family: var(--font-content);
}
p {
    padding: 5px 0;
}
